[Unit]
Description=Timing for Archery
After=network.target

[Service]
WorkingDirectory=/var/www/WATiming
ExecStart=sudo /usr/bin/nodejs /var/www/WATiming/app.js  
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=WATiming
StandardOutput=syslog
StandardError=syslog
User=pi
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target